$background-color-invert: #6E6E6E;
$background-color-dark: #84738E;
$background-color-line: #41C000;

$font-color-main: #000;
$font-color-sub: #6e6e6e;
$font-color-light: #BABABA;
$font-color-invert: #fff;
