---
---

@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import "screen";
@import "color";
@import "mixin";

html,
body,
h3 {
  margin: 0
}

html {
  font-size: 16px;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  color: $font-color-main;
  font-size: 100%;
}

.btn {
  background-color: $background-color-line;
  color: $font-color-invert;
  padding: 0 1rem;
}
.btn:hover {
    background-color: lighten($background-color-line, 5%);
}

.btn.desable {
  background-color: $font-color-light;
  color: $font-color-invert;
  padding: 0 1rem;
}

.text-center {
  text-align: center;
}

.page-title-container {
  width: 100%;
  text-align: center;
  padding: 60px;
  background: $background-color-invert;
  color: $font-color-invert;
}

.page-title-container .page-title {
  font-size: 3em;
  font-weight: 200;
}

.main {
  padding: 0 30px;
  @media #{$large} {
    padding: 0 50px;
  }
}

.tabs {
  overflow: hidden;
  margin-bottom: 30px;
  @media #{$large} {
    margin-bottom: 50px;
  }

  .tab {
    a {
      color: $font-color-light;
    }
    a:hover {
      color: $font-color-sub;
    }
    a.active {
      color: $font-color-sub;
    }
  }

  .indicator {
    background-color: $background-color-dark;
  }
}

.image-list .content {
  min-height: 240px;
  margin-bottom: 50px;
}

.content-header {
  margin-bottom: 50px;
  .content-image {
    @media #{$large} {
      float: left !important;
      margin-right: 50px;
    }
    margin: 0 auto;
    width: 240px;
    img {
      width: 100%;
    }
  }
  .content-title {
    margin: 0;
    padding: 0;
    h3 {
      font-size: xx-large;
      margin-bottom: 20px;
    }
    p {
      color: $font-color-sub;
    }
  }
}

.content-body {
  width: 100%;
  color: $font-color-sub;
  .image-box {
    margin: 50px auto 0;
    img {
      width: 100%;
    }
  }
}

.btn-copy {
  cursor: pointer;
}

.p-side {
  padding: 0 0.75rem !important;
}
