{% include header.html %}

<div class="page-title-container">
  <h1 class="page-title">Stickers by mid0111</h1>
</div>

<div class="container main">

  <div class="content-item">
    <div class="content-header clearfix">
      <div class="content-image">
        <img src="/assets/images/uzumaru-1/main.png" alt="uzumaru-san-1">
      </div>
      <div class="content-title">
        <h3>うず丸さん 〜エンジニア編〜</h3>
        <p>うず丸さんスタンプ第一弾。<br>プログラマーやエンジニア界隈の用語をときどき使います。とり年にあやかってペンギンっぽい着ぐるみにうずまってます。</p>
      </div>
      <div class="content-action">
        <a class="btn" href="#">LINE ストアで見る</a>
      </div>
    </div>

    <div class="content-body">
      <div class="image-box">
        <img src="/assets/images/uzumaru-1/all.png" alt="uzumaru-san-1-all">
      </div>
    </div>

  </div>
</div>

{% include footer.html %}